@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);

:root {
    --color-black: #171717;
    --color-gray: #262626;
    --color-white: #f5f5f4;
    --color-lime: #a3e635;
    --color-green: #84cc16;
    --color-yellow: #facc15;
    --color-transparent: #3131313f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
    color: var(--color-white);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    scrollbar-width: auto;
    scrollbar-color: var(--color-lime) var(--color-gray);
}

body {
    width: 100%;
    height: auto;
    background-color: var(--color-black);
    font-weight: 300;
}

body::-webkit-scrollbar {
    background-color: var(--color-black);
    border-radius: 2rem;
}

body::-webkit-scrollbar-track {

    border-radius: 2rem;
}

body::-webkit-scrollbar-thumb {

    border-radius: 2rem;
}

header {
    width: 100%;
    height: 6%;
    background-color: var(--color-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header span {
    color: var(--color-lime);
    font-size: 1.5rem;
}

header span:hover {
    scale: 1.1;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 0 0 1rem var(--color-lime);
}

header p {
    color: var(--color-white);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1rem;
    text-underline-offset: 0.5rem;
    opacity: 50%;
    text-align: center;
}

header p:hover {
    scale: 1.1;
    cursor: pointer;
    color: var(--color-lime);
    transition: 0.3s;
    opacity: 100%;
    text-shadow: 0 0 1rem var(--color-lime);
}

/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */


#sectionAbout {
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

#sectionAbout div {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

#sectionAbout div h1 {
    color: var(--color-lime);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 300;
}

#sectionAbout div hr {
    width: 100%;
    border-color: var(--color-lime);
}

#sectionAbout p {
    font-size: 1.6rem;
    font-weight: 300;
}

#sectionAbout a {
    color: var(--color-lime);
    cursor: pointer;
}

#sectionAbout a:hover {
    transition: 0.1s;
    /* text-shadow: 0 0 1rem var(--color-lime); */
    text-decoration: 0.1rem underline var(--color-lime);
}
#sectionAbout aside {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#sectionAbout aside h2 {
    color: var(--color-lime);
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
}

#sectionAbout aside #imgSvgAbout {
    width: 100%;
    height: 60%;
}


/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */

#sectionProjects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem;
    gap: 1rem;
}

#sectionProjects div {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

#sectionProjects div h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: 1 / span 3;
    color: var(--color-lime);
    font-weight: 300;
    text-transform: uppercase;
}

#sectionProjects div hr {
    width: 100%;
    height: 1%;
    display: flex;
    justify-content: center;
    grid-column: 1 / span 3;
    border-color: var(--color-lime);
    font-weight: 300;
    text-transform: uppercase;
}

#sectionProjects div a {
    position: relative;
    display: block;
}

#sectionProjects div a .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionProjects div a:hover .overlay {
    opacity: 1;
}

#sectionProjects div a .text {
    color: white;
    font-size: 16px;
}

#sectionProjects div img {
    width: 100%;
    height: auto;
    border: 2px solid var(--color-lime);
    padding: 0.1rem;
}

#sectionProjects aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#sectionProjects aside h1 {
    color: var(--color-lime);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: 1.5rem;
}

#imgSvgProjects {
    width: 100%;
    height: 60%;
}

/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */

#sectionCertificates {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 2rem;
}

#sectionCertificates aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

#sectionCertificates aside h1 {
    color: var(--color-lime);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding-right: 5rem;
    font-weight: 100;
    font-size: 1.5rem;
}

#imgSvgCertificates {
    width: 100%;
    height: 60vh;
    margin-right: 10rem;
}

#sectionCertificates div {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

#sectionCertificates h1 {
    align-self: baseline;
}
#sectionProfileCard div {
    width: 40%;
    height: 50%;
    border: 2px solid var(--color-lime);
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--color-gray);
}

#sectionCertificates div img {
    width: 20vw;
    height: 30vh;
    /* border-top: 1px solid var(--color-lime);
    border-bottom: 1px solid var(--color-lime); */
    border: 2px solid var(--color-lime);
    padding: 0.1rem;
}
#sectionCertificates div img:clic {
}






/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */
#sectionProfileCard {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#sectionProfileCard div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#sectionProfileCard div h1 {
    color: var(--color-lime);
}

#imgProfile {
    height: 10rem;
    width: 10rem;
    border: 2px solid var(--color-lime);
}

#sectionProfileCard h1 {
    width: 70%;
}

#sectionProfileCard hr {
    width: 100%;
}

#sectionProfileCard p {
    text-decoration: 2px solid underline var(--color-lime);
    text-underline-offset: 0.5rem;
}



/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */

#sectionContact {
    display: none;
}

/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */
/* Divisão */

footer {
    width: 100vw;
    height: 3vh;
    background-color: var(--color-transparent);
    position: absolute;
    top: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    display: none;
}