@import "tailwindcss";

@theme {
  --font-heading: var(--font-oxanium);
  --font-sans: var(--font-montserrat);
}

::-webkit-scrollbar {
  background-color: #2e1065;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #a78bfa60;
  border-radius: 4rem;
}
