@import "tailwindcss";

@theme {
  --font-heading: var(--font-oxanium);
  --font-sans: var(--font-montserrat);
}

/* Estilização Padrão da Scrollbar (Webkit) */
::-webkit-scrollbar {
  background-color: #1e1b4b;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd6fe;
  border-radius: 4rem;
}

/* Estilização Específica para Scrollbars em .description-scroll e .technologies-scroll */
.description-scroll::-webkit-scrollbar,
.technologies-scroll::-webkit-scrollbar {
  width: 0.3rem;
  background-color: transparent; /* Fundo transparente para scrollbars menores */
}

.description-scroll::-webkit-scrollbar-thumb,
.technologies-scroll::-webkit-scrollbar-thumb {
  background-color: #c4b5fd;
  border-radius: 4rem;
  margin: 0.5rem;
}

.description-scroll::-webkit-scrollbar-track,
.technologies-scroll::-webkit-scrollbar-track {
  margin: 0.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
